/* Prevent translation on custom dropdown and any UI */
.notranslate,
[translate="no"] {
  translate: no;
}

/* Hide the popup banner spacing issue */
body {
  top: 0px !important;
}

/* Hide the embedded translate icon and gadgets */
.VIpgJd-ZVi9od-ORHb-OEVmcd.skiptranslate {
  display: none !important;
}

#goog-gt-tt,
#goog-gt-vt {
  display: none !important;
}

[class^="VIpgJd"] {
  background: transparent !important;
  box-shadow: none !important;
  color: inherit !important;
}

/* Scrollbar Styles */
.tabview::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.tabview::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* Scrollbar thumb */
  border-radius: 10px;
  border: none;
}

/* Optional: On hover */
.tabview::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
